= render partial: "layouts/single-header"
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .single-main2
    .single-box2
      .single-box_top2
        %p アカウントをお持ちでない方はこちら
        = link_to new_user_registration_path, class: "new-users-top" do
          新規会員登録
      .single-box_down
        .btn-box_facebook
        %button.single-box_facebook2{type: "button"}
          フェイスブックで登録する
          .btn-box
            %i.fab.fa-facebook-square
        .btn-box_google
        %button.single-box_google2{type: "button"}
          Googleで登録する
          .btn-box
            %i.fab.fa-google
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "input-default1"
        = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "input-default1"
        .rc-anchor1
          ロボット認証入ります。
        = f.submit "ログイン", class: "btn-signup"
      .terms-text_down
= render partial: "layouts/single-footer"