.m-side
  %ul.mypage-nav-list
    %li
    = link_to do
      %a.mypage-nav-list-item
        マイページ
        %i.fas.fa-chevron-right
    %li
    = link_to do
      %a.mypage-nav-list-item
        お知らせ
        %i.fas.fa-chevron-right
    %li
    = link_to do
      %a.mypage-nav-list-item
        やることリスト
        %i.fas.fa-chevron-right
    %li
    = link_to do
      %a.mypage-nav-list-item
        いいね！一覧
        %i.fas.fa-chevron-right
    %li
    = link_to new_product_path do
      %a.mypage-nav-list-item
        出品する
        %i.fas.fa-chevron-right
    %li
    = link_to do
      %a.mypage-nav-list-item
        出品した商品-出品中
        %i.fas.fa-chevron-right
    %li
    = link_to do
      %a.mypage-nav-list-item
        出品した商品-取引中
        %i.fas.fa-chevron-right
    %li
    = link_to do
      %a.mypage-nav-list-item
        出品した商品-売却済み
        %i.fas.fa-chevron-right
    %li
    = link_to do
      %a.mypage-nav-list-item
        購入した商品-取引中
        %i.fas.fa-chevron-right
    %li
    = link_to do
      %a.mypage-nav-list-item
        購入した商品-過去の取引
        %i.fas.fa-chevron-right
    %li
    = link_to do
      %a.mypage-nav-list-item
        ニュース一覧
        %i.fas.fa-chevron-right
    %li
    = link_to do
      %a.mypage-nav-list-item
        評価一覧
        %i.fas.fa-chevron-right
    %li
    = link_to do
      %a.mypage-nav-list-item
        ガイド
        %i.fas.fa-chevron-right
    %li
    = link_to do
      %a.mypage-nav-list-item
        お問い合わせ
        %i.fas.fa-chevron-right
    %h3.mypage-nav-head メルペイ
    %li
    = link_to do
      %a.mypage-nav-list-item
        売上・振込申請
        %i.fas.fa-chevron-right
    %li
    = link_to do
      %a.mypage-nav-list-item
        ポイント
        %i.fas.fa-chevron-right
    %h3.mypage-nav-head 設定
    %li
    = link_to profile_users_path, class: "mypage-nav-list-item" do
      プロフィール
      %i.fas.fa-chevron-right
    %li
    = link_to deliver_address_users_path, class: "mypage-nav-list-item" do
      発送元・お届け先住所変更
      %i.fas.fa-chevron-right
    %li
    = link_to card_users_path, class: "mypage-nav-list-item" do
      支払い方法
      %i.fas.fa-chevron-right
    %li
    = link_to email_users_path, class: "mypage-nav-list-item" do
      メールアドレスの変更
      %i.fas.fa-chevron-right
    %li
    = link_to password_users_path, class: "mypage-nav-list-item" do
      パスワードの変更
      %i.fas.fa-chevron-right
    %li
    = link_to identification_users_path, class: "mypage-nav-list-item" do
      本人情報
      %i.fas.fa-chevron-right
    %li
    = link_to logout_users_path, class: "mypage-nav-list-item" do
      ログアウト
      %i.fas.fa-chevron-right