= render partial: 'new-users-page/new-users1'
= render partial: 'new-users-page/new-users2'
= render partial: 'new-users-page/new-users2-sns'
= render partial: 'new-users-page/new-users3'
= render partial: 'new-users-page/new-users4'
= render partial: 'new-users-page/new-users5'