%form#example-form{action: "#"}
%div
  %section#new-users
    = render partial: 'users/new-users-page/new-users'
  %section#new-users1
    = render partial: 'users/new-users-page/new-users1'
  %section#new-users2
    = render partial: 'users/new-users-page/new-users2'
  %section#new-users3
    = render partial: 'users/new-users-page/new-users2-sns'
  %section#new-users4
    = render partial: 'users/new-users-page/new-users3'
  %section#new-users5
    = render partial: 'users/new-users-page/new-users4'
  %section#new-users6
    = render partial: 'users/new-users-page/new-users5'