= render partial: 'users/new-users-page/new-users'
= render partial: 'users/new-users-page/new-users1'
= render partial: 'users/new-users-page/new-users2'
= render partial: 'users/new-users-page/new-users2-sns'
= render partial: 'users/new-users-page/new-users3'
= render partial: 'users/new-users-page/new-users4'
= render partial: 'users/new-users-page/new-users5'