.main-card
  .main-card-box
    = render partial: 'users/mypage-sidebar'
    .card-box
      .card-box__label
        %p 支払い方法
      .content__credit-cards
        %h クレジットカード一覧
        - if @card.present?
          = form_with url: delete_card_index_path, method: :post, id: 'charge-form' do |f|
            .credit-cards
              %img{src: asset_path("#{@card_src}"), width: '26', height: '20', alt: @card_brand, id: "card_image"}
            .credit-cards__list
              = "**** **** **** " + @default_card_information.last4
            .credit-cards__list
              - exp_month = @default_card_information.exp_month.to_s
              - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
              = exp_month + " / " + exp_year
            %input{type: "hidden", name: "card_id", value: ""}
            = f.submit "削除する", {class: "credit-cards__delete"}
          - if flash[:notice]
            .alert.alert-success
            = flash[:notice]
= render partial: 'layouts/footer-top'
