.items_table
  .item_box
    %section.items
      = link_to do
        = image_tag @product.product_images.image, class: "items_pict", alt: "商品画像1"
        .index_text
          %h4
            = @products.introduction
          .index_info
            .index_info__price
              = "¥#{@products.price}"
            .index_info__box
              %i.far.fa-heart
                %span 99
          .index_tax (税込)