- if @product.seller_user_id == current_user.id
  .wrapper
    %header
      %h1
        = link_to root_path do
          %img{src: asset_path('exhibition-mercari-logo.svg'), width: 185, height: 49, alt: 'logo'}
    = form_with model: @product, url: {action: :update} do |f|
      .forms-wrapper
        %h2.forms-wrapper__announce 商品の情報を入力
        .product-image-box
          %h3.product-image-box__label
            出品画像
            %span.form-block__require 必須
          %p.product-image-box__tips 最大5枚までアップロードできます
          .image-forms-wrapper
            = f.label :image1 do
              .image-form#image1
                = f.file_field :image1, class: 'image-form__file', data: {imageid: 1}
                %p クリックしてファイルをアップロード
                .thumbnail
        .form-wrapper
          .form-block
            = f.label :product_name do
              %p.form-block__label
                商品名
                %span.form-block__require 必須
            = f.text_field :product_name, class: 'form-block__form--textfield', value: "#{@product.product_name}"
          .form-block
            = f.label :introduction do
              %p.form-block__label
                商品説明
                %span.form-block__require 必須
            = f.text_area :introduction, class: 'form-block__form--textarea', value: "#{@product.introduction}"
        .form-wrapper--select
          %h3.form-wrapper__label 商品の詳細
          .details-forms
            .category-block
              .form-block--select
                = f.label :top_category_id do
                  %p.form-block__label
                    カテゴリー
                    %span.form-block__require 必須
                = f.select :top_category_id, @top_category, {}, class: 'form-block__form--select top_category_val', id: 'top_category'
                %i.fas.fa-chevron-down.select-arrow
              .form-block--select-append
                = f.select :mid_category_id, @mid_category, {}, class: 'form-block__form--select mid_category_val', id: 'mid_category'
                %i.fas.fa-chevron-down.select-arrow
              .form-block--select-append
                = f.select :low_category_id, @low_category, {}, class: 'form-block__form--select low_category_val', id: 'low_category'
                %i.fas.fa-chevron-down.select-arrow
              %script
                $('.top_category_val').val("#{@top_categories.id}");
                $('.mid_category_val').val("#{@mid_categories.id}");
                $('.low_category_val').val("#{@low_categories.id}");
              .form-block--select-append#size-form
                = f.label :product_size_id, value: "サイズ"
                %span.form-block__require 必須
                = f.select :product_size_id, @product_size, {}, class:"form-block__form--select"
                %i.fas.fa-chevron-down.select-arrow
            .form-block--select#size-block
            .form-block--brand
              = f.label :brand_name do
                %p.form-block__label
                  ブランド
                  %span.form-block__optional 任意
              = f.text_field :brand_name, class: 'form-block__form--textfield', value: "#{@product.brand.brand_name}"
            .form-block--select
              = f.label :product_state do
                %p.form-block__label
                  状態
                  %span.form-block__require 必須
              = f.select :product_state, Product.product_states_i18n.keys.map {|k| [Product.product_states_i18n[k], k]},{}, class: 'form-block__form--select'
              %i.fas.fa-chevron-down.select-arrow
        .form-wrapper--select
          %h3.form-wrapper__label 配送について
          .about-shipping-forms
            .form-block--select
              = f.label :who_pays_shipping_fee do
                %p.form-block__label
                  配送料の負担の再設定
                  %span.form-block__require 必須
              = f.select :who_pays_shipping_fee, Product.who_pays_shipping_fees_i18n.keys.map {|k| [Product.who_pays_shipping_fees_i18n[k], k]},{}, class: 'form-block__form--select'
              %i.fas.fa-chevron-down.select-arrow
            .form-block--select
              = f.label :seller_prefecture do
                %p.form-block__label
                  発送元の地域の再設定
                  %span.form-block__require 必須
              = f.select :prefecture_id,{"北海道": 1, "青森": 2}, class: 'form-block__form--select'
              %i.fas.fa-chevron-down.select-arrow
            .form-block--select
              = f.label :days_to_ship do
                %p.form-block__label
                  発送までの日数の再設定
                  %span.form-block__require 必須
              = f.select :days_to_ship, Product.days_to_ships_i18n.keys.map {|k| [Product.days_to_ships_i18n[k], k]},{}, class: 'form-block__form--select'
              %i.fas.fa-chevron-down.select-arrow
        .form-wrapper--select
          %h3.form-wrapper__label 販売価格(300〜9,999,999)
          .selling-price-form
            .form-block--price
              = f.label :price do
                %p.form-block__label
                  価格
                  %span.form-block__require 必須
              .price-form
                %p.price-form__yen ¥
                = f.text_field :price, class: 'price-form__text', value: "#{@product.price}"
            .form-block--price--charge
              %p.form-block__charge-label 販売手数料(10%)
              %p.form-block__charge -
            .form-block--price--charge
              %p.form-block__profit-label 販売利益
              %p.form-block__profit -
        .form-wrapper
          .exhibit-announcement
            %p.exhibit-announcement__text 禁止されている出品、行為を必ずご確認ください。
            %p.exhibit-announcement__text またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
            %p.exhibit-announcement__text また、出品をもちまして加盟店規約に同意したことになります。

          = f.submit '編集する', class: 'form-wrapper__submit-btn'
          = link_to '戻る', {} ,class: 'form-wrapper__back-btn'
- else
  - if @product.trade_state == "buying"
    %section.main
      .main_top
        %h2.main_top__text 購入内容の確認
      .main_body
        .product_info
          .item_info
            = image_tag "#{@product.product_images.find_by(product_id: @product.id).image}", class: "items_pict", alt: "商品画像1"
            %p.item_info__text 
              = @product.product_name
          .fee_info
            .fee_info__text
              %span.fee_info__text__place 
                = "¥#{@product.price.to_s(:delimited)}"
              %span.fee_info__text__shipping_cost 送料込み
            .point_info
              %span.point_info__text ポイントはありません
            .buy_info
              .buy_text
                %span.buy_text__attention 支払い金額
              .buy_place
                %span.buy_place__body
                  = "¥#{@product.price.to_s(:delimited)}"
            .buy_action
              .buy_not
                %span.buy_not__message 配送先と支払い方法の入力を完了してください。
              = form_with model: @product,local: true, id: 'charge-form' do |f|
                = f.text_field :trade_state, class: "buy_form", value: "buyed"
                = f.number_field :buyer_user_id, class: "buy_form", value: "#{current_user.id}"
                = f.submit '購入する', class: 'buy_button'
      .buyer_body
        .buyer_info
          .address
            %h3.address__info 配送先
            .address__text
              %span.address__text__address_number 郵便番号
              = "〒#{@address.postal_code}"
              %span.address__text__address_text 住所
              = "#{@address.prefecture.name}" + "#{@address.city}" + "#{@address.address}" + "#{@address.building}"
              %span.address__text__buyer 名前
              = "#{@address.first_name}" + "#{@address.last_name}"
              .address_link
                = link_to do
                  %span.address_link__text 変更する
                  %i.fas.fa-chevron-right.address_link__icon
      .fee_body
        .fee_way
          %h3.fee_way__info 支払い方法
          .fee_way__card
            - if @default_card_information.blank?
              %br/
            - else
            %span.fee_way__card__number カード番号
            = "**** **** **** " + @default_card_information.last4
            %span.fee_way__card__limit 有効期限
            - exp_month = @default_card_information.exp_month.to_s
            - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
            = exp_month + " / " + exp_year
          %img{src: asset_path("#{@card_src}"), width: '26', height: '20', alt: @card_brand, id: "card_image"}
            .card_link
              = link_to do
                %span.card_link__change 変更する
                %i.fas.fa-chevron-right.card_link__icon
  - else
    .buyed_not
      .buyed_not__box
        %h3.buyed_not__box__text 商品はすでに売り切れています。
      .buyed_not__error--edit
        = link_to do
          %span.buyed_not__error__link 購入画面へ戻る
= render 'layouts/single-footer'
