=  render partial: 'layouts/header'
.contents
  %section.head_pict
    = link_to do
      %img.heading_pict{src: asset_path('header.png'), alt: "heading"}
  %section.pick_up
    %h2.pick_head ピックアップカテゴリー
    %section.items_box
      %h3.pick_up__category
        =link_to "新着アイテム"
      = render partial: "table"
      = render partial: "table"
      = render partial: "table"
      = render partial: "table"
      = render partial: "table"
      = render partial: "table"
      = render partial: "table"
= render partial: 'layouts/footer-top'