=  render partial: 'layouts/header'
.contents
  %section.head_pict
    =link_to do
      = image_tag "/assets/header.png", alt: "heading", class: "heading_pict"
  %section.pick_up
    %h2.pick_head ピックアップカテゴリー
    %section.items_box
      %h3.pick_up__category
        =link_to "新着アイテム"
      = render partial: "table"
      = render partial: "table"
      = render partial: "table"
      = render partial: "table"
      = render partial: "table"
      = render partial: "table"
      = render partial: "table"
      
.footer
  .footer_pict
    = image_tag "/assets/footer.png", alt: "heading", class: "foot_pict"
  .footer_text
    = image_tag "/assets/footer2.png", alt: "heading", class: "foot_pict_2"
    = link_to do
      .sell_link
        %p 出品
        %i.fas.fa-camera