.wrapper
  %header
    %h1
      = link_to root_path do
        %img{src: asset_path('exhibition-mercari-logo.svg'), width: 185, height: 49, alt: 'logo'}
  = form_with model: @product, url: {action: :create} do |f|
    .forms-wrapper
      %h2.forms-wrapper__announce 商品の情報を入力
      .product-image-box
        %h3.product-image-box__label
          出品画像
          %span.form-block__require 必須
        %p.product-image-box__tips 最大5枚までアップロードできます
        .image-forms-wrapper
          = f.label :image1 do
            .image-form#image1
              = f.file_field :image1, class: 'image-form__file', data: {imageid: 1}
              %p クリックしてファイルをアップロード
              .thumbnail
      .form-wrapper
        .form-block
          = f.label :product_name do
            %p.form-block__label
              商品名
              %span.form-block__require 必須
          = f.text_field :product_name, class: 'form-block__form--textfield'
        .form-block
          = f.label :introduction do
            %p.form-block__label
              商品説明
              %span.form-block__require 必須
          = f.text_area :introduction, class: 'form-block__form--textarea'
      .form-wrapper--select
        %h3.form-wrapper__label 商品の詳細
        .details-forms
          .category-block
            .form-block--select
              = f.label :top_category_id do
                %p.form-block__label
                  カテゴリー
                  %span.form-block__require 必須
              = f.select :top_category_id, @top_category, {}, class: 'form-block__form--select', id: 'top_category'
              %i.fas.fa-chevron-down.select-arrow
          .form-block--select#size-block
          .form-block--brand
            = f.label :brand_name do
              %p.form-block__label
                ブランド
                %span.form-block__optional 任意
            = f.text_field :brand_name, class: 'form-block__form--textfield'
          .form-block--select
            = f.label :product_state do
              %p.form-block__label
                状態
                %span.form-block__require 必須
            = f.select :product_state, Product.product_states_i18n ,{}, class: 'form-block__form--select'
            %i.fas.fa-chevron-down.select-arrow
      .form-wrapper--select
        %h3.form-wrapper__label 配送について
        .about-shipping-forms
          .form-block--select
            = f.label :who_pays_shipping_fee do
              %p.form-block__label
                配送料の負担
                %span.form-block__require 必須
            = f.select :who_pays_shipping_fee, Product.who_pays_shipping_fees_i18n,{}, class: 'form-block__form--select'
            %i.fas.fa-chevron-down.select-arrow
          .form-block--select
            = f.label :seller_prefecture do
              %p.form-block__label
                発送元の地域
                %span.form-block__require 必須
            = f.select :prefecture_id,{"北海道": 1, "青森": 2}, {}, class: 'form-block__form--select'
            %i.fas.fa-chevron-down.select-arrow
          .form-block--select
            = f.label :days_to_ship do
              %p.form-block__label
                発送までの日数
                %span.form-block__require 必須
            = f.select :days_to_ship, Product.days_to_ships_i18n,{}, class: 'form-block__form--select'
            %i.fas.fa-chevron-down.select-arrow
      .form-wrapper--select
        %h3.form-wrapper__label 販売価格(300〜9,999,999)
        .selling-price-form
          .form-block--price
            = f.label :price do
              %p.form-block__label
                価格
                %span.form-block__require 必須
            .price-form
              %p.price-form__yen ¥
              = f.text_field :price, class: 'price-form__text'
          .form-block--price--charge
            %p.form-block__charge-label 販売手数料(10%)
            %p.form-block__charge -
          .form-block--price--charge
            %p.form-block__profit-label 販売利益
            %p.form-block__profit -
      .form-wrapper
        .exhibit-announcement
          %p.exhibit-announcement__text 禁止されている出品、行為を必ずご確認ください。
          %p.exhibit-announcement__text またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
          %p.exhibit-announcement__text また、出品をもちまして加盟店規約に同意したことになります。

        = f.submit '出品する', class: 'form-wrapper__submit-btn'
        = link_to '戻る', {} ,class: 'form-wrapper__back-btn'
