= render partial: 'layouts/header'
.pankuzu
  -# - breadcrumb :show_product, @product, class: "pankuzu__text"
  -# = breadcrumbs separator: " #{content_tag(:i, '', class: 'fas fa-chevron-right')} "
%section.show_product
  %h3.show_product_name
    = @product.product_name
  .show_product_info
    .show_product_photo
      .show_photo_stage
        - if @product.trade_state == 1
          .sold_out
          .sold_out_text SOLD
        %img.show_photo_stage__image{ src: "", alt: "メイン"}
      .show_photo_list
        - @images.each do |image|
          .show_photo_box
            %img.show_photo_box__image{ "data-url": image.image, src: image.image, alt: "写真1" }
    %table.product_detail
      %tr.detail
        %th.seller
        %td.seller_text
          = link_to user_path(@product.seller_user_id), class: "seller_link" do
            = @seller_user.nickname
            <br>
          .seller_rate
            .seller_good
              %i.fas.fa-grin.seller_good__icon
              %span.seller_good__quentity 20
            .seller_nomal
              %i.fas.fa-meh.seller_nomal__icon
              %span.seller_nomal__quentity 10
            .seller_bad
              %i.fas.fa-frown.seller_bad__icon
              %span.seller_bad__quentity 5
      %tr.detail
        %th.detail__category カテゴリー
        %td.detail__category_text 
          = link_to root_path, class: "category_name" do
            = @category1.category_name
            <br>
          = link_to root_path, class: "category_name" do
            = @category2.category_name
            <br>
          = link_to root_path, class: "category_name" do
            = @category3.category_name
      %tr.detail
        %th.detail__bland ブランド
        %td.detail__bland_text
          = link_to root_path, class: "brand_name" do
            = @brand.brand_name
      %tr.detail
        %th.detail__size サイズ
        %td.detail___size_text
          = @product.product_size.size_text
      %tr.detail
        %th.detail__state 商品状態
        %td.detail__state_text
          = @product.product_state
      %tr.detail
        %th.detail__who_pays_shipping_fee 送料
        %td.detail__who_pays_shipping_fee_text
          = @product.who_pays_shipping_fee
      %tr.detail
        %th.detail__way_to_ship 配送方法
        %td.detail__way_to_ship_text
          = @product.way_to_ship
      %tr.detail
        %th.detail__seller_prefecture 配送元地域
        %td.detail__seller_prefecture_text
          =link_to root_path, class: "prefecture_name" do
            = @product.prefecture.name
      %tr.detail
        %th.detail__days_to_ship 発送日の目安
        %td.detail__days_to_ship_text
          = @product.days_to_ship
  .product_place
    %span.product_place__place
      = "¥#{@product.price.to_s(:delimited)}"
    %span.product_place__tax (税込)
    %span.product_place__ship 送料込み
  - if current_user.id == @product.seller_user_id
    .link_buy
      = link_to edit_product_path(@product) do
        %span.link_buy__text 編集画面に進む
    .link_buy
      = link_to product_path(@product), method: "delete" do
        %span.link_buy__text 商品を削除する
  - else
    .link_buy
      = link_to edit_product_path(@product) do
        %span.link_buy__text 購入画面に進む
  .product_discription
    %p.product_discription__text
      = @product.introduction
  .product_other
    .other_left
      .other_left__left--black
        -# = form_with model: @product, url: "/products", method: :post, local: true do |f|
          ?= f.text_field :id, value: @product.id, class: "id_form"
        = button_tag type: "submit", class: "id_form_button--black", id: "change_button" do
          %i.far.fa-heart.other_left__left__heart#change_icon
          %span.other_left__left__good いいね!
          %span.other_left__left__quantity 99
      .other_left__right
        %i.far.fa-flag.other_left__right__flag
        = link_to do
          %span.other_left__right__bad 不適切な商品の報告
    .other_right
      = link_to do
        %i.fas.fa-lock.other_right__lock
        %span.other_right__approach あんしん・あんぜんへの取り組み
%section.show_comment
  %p.comment_attention 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
  .form コメント入力フォームです
  .send コメントする
%section.show_icon
  .icon_area
    = link_to do
      %i.fab.fa-facebook-square.icon_area__facebook
    = link_to do
      %i.fab.fa-twitter-square.icon_area__tweeter
    = link_to do
      %i.fab.fa-pinterest.icon_area__pinterest
%section.user_other_product
  = link_to do
    %h3.user_name_other
      = "#{@seller_user.nickname}さんの他の出品リスト"
  .user_other_product_box
    - @user_products.each do |product|
      .item_box
        %section.items
          = link_to "/products/#{product.id}" do
            = image_tag "#{product.product_images.find_by(product_id: product.id).image}",size: "213*220", alt: "商品写真", class: "items__pict"
            .index_text
              %h4
                = product.product_name
              .index_info
                .index_info__price
                  = product.price.to_s(:delimited)
                .index_info__box
                  %i.far.fa-heart
                    %span 99
              .index_tax (税込)
%section.bland_other_product
  = link_to do
    %h3.bland_name_other
      = "#{@brand.brand_name}の他の出品リスト"
  .bland_other_product_box
    - @brand_products.each do |product|
      .item_box
        %section.items
          = link_to "/products/#{product.id}" do
            = image_tag "#{product.product_images.find_by(product_id: product.id).image}",size: "213*220", alt: "商品写真", class: "items__pict"
            .index_text
              %h4
                = product.product_name
              .index_info
                .index_info__price
                  = product.price.to_s(:delimited)
                .index_info__box
                  %i.far.fa-heart
                    %span 99
              .index_tax (税込)
