.header
  .content
    .content-top
      .content-top_left
        = link_to root_path do
          %img{src: asset_path('mercari_logo_horizontal.png'), alt: 'mercari', height: '45', width: '145'}
      .content-top_right
        %input.content-top_right__search{maxlength: "30", name: "in01",size: "100",type: "search", placeholder: "何かお探しですか？"}/
        .icon_box
          %i.fas.fa-search
    .content-down
      .content-down__left
        %ul 
          %li.down_list_left
            .category_list
              .category_name_box
                %i.fa.fa-list-ul
                  %span カテゴリーから探す
              .category_boxes
                .category_index_parent.category_none
                  - @parents.each do |parent|
                    .category_box
                      = parent.category_name
                .category_index_children.category_none
                .category_index_grandchildren.category_none
          %li.down_list_left
            .brand_list
              .brand_name_box
                %i.fa.fa-tag
                  %span ブランドから探す
              .brand_boxes.brand_none
                .brand_index
                  - @brands.each do |brand|
                    .brand_box
                      = brand.brand_name
      .content-down__right
        %ul
          - if user_signed_in?
            %li.down_list_right
              = link_to do
                %i.far.fa-heart
                  %span いいね！一覧
            %li.down_list_right
              = link_to do
                %i.far.fa-bell
                  %span お知らせ
            %li.down_list_right
              = link_to do
                %i.fa.fa-check
                  %span やることリスト
            %li.down_list_right.mypage
              = link_to user_path(current_user) do
                %p.user-image
                %span マイページ
              .mypage-box.none
                %h3.mypage-box__name #{current_user.nickname}さん
                - if @user_products.length == 0
                  %h5.mypage-box__int 評価：0 出品数：0
                - else 
                  %h5.mypage-box__int 評価：0 出品数：#{@user_products.length}
                %h5.mypage-box__sum 売上金　0円
                %ul.mypage-box-link
                  %li
                  = link_to do
                    %a.mypage-box-link__string
                      いいね！一覧
                      %i.fas.fa-chevron-right
                  %li
                  = link_to do
                    %a.mypage-box-link__string
                      出品した商品-出品中
                      %i.fas.fa-chevron-right
                  %li
                  = link_to do
                    %a.mypage-box-link__string
                      出品した商品-取引中
                      %i.fas.fa-chevron-right
                  %li
                  = link_to do
                    %a.mypage-box-link__string
                      出品した商品-売却済み
                      %i.fas.fa-chevron-right
                  %li
                  = link_to do
                    %a.mypage-box-link__string
                      購入した商品-取引中
                      %i.fas.fa-chevron-right
                  %li
                  = link_to do
                    %a.mypage-box-link__string
                      購入した商品-過去の取引
                      %i.fas.fa-chevron-right
          - else
            .down-list-newuser
              = link_to " /users/sign_up" do
                新規会員登録
            .down-list-userin
              = link_to "/users/sign_in" do
                ログイン