.header
  .content
    .content-top
      .content-top_left
        = link_to root_path do
          %img{src: asset_path('mercari_logo_horizontal.png'), alt: 'mercari', height: '45', width: '145'}
      .content-top_right
        %input.content-top_right__search{maxlength: "30", name: "in01",size: "100",type: "search", placeholder: "何かお探しですか？"}/
        .icon_box
          %i.fas.fa-search
    .content-down
      .content-down__left
        %ul 
          %li.down_list_left
            = link_to do
              %i.fa.fa-list-ul
                %span カテゴリーから探す
          %li.down_list_left
            = link_to do
              %i.fa.fa-tag
                %span ブランドから探す
      .content-down__right
        %ul
          .down-list-newuser
            = link_to " /users/sign_up" do
              新規会員登録
          .down-list-userin
            = link_to "/users/sign_in" do
              ログイン
              - if user_signed_in?
                %li.down_list_right
                  = link_to do
                    %i.far.fa-heart
                      %span いいね！一覧
                %li.down_list_right
                  = link_to do
                    %i.far.fa-bell
                      %span お知らせ
                %li.down_list_right
                  = link_to do
                    %i.fa.fa-check
                      %span やることリスト
                %li.down_list_right
                  = link_to user_path(current_user) do
                    %p.user-image
                    %span マイページ