= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  %div
    %section#new-users0
      = render partial: 'users/new-users-page/new-users'
    %section#new-users1
      = render partial: 'users/new-users-page/new-users1', locals: { f: f, user: @user}
    %section#new-users2
      = render partial: 'users/new-users-page/new-users2', locals: { f: f, user: @user}
    %section#new-users3
      = render partial: 'users/new-users-page/new-users3', locals: { f: f, user: @user}